<div class="footer" style="
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
">
<p>Made with <i class="fa fa-heart" style="color:red;"></i> <a href="https://instagram.com/_pankajrathore__" style="font-weight:bold">By Pankaj Rathore</a></p>
 </div>
