<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./admin.css">
    <title>Hospitals Admin</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="user articleBx">
                <div class="formBx">
                    <h2>Enter the verified leads</h2>
                    <form action="/resources/hospitals" method="POST">
                       <input  required type="text" placeholder="Enter the authority name" class="" value="" id="authority" name="authority">
                        <input required type="text" placeholder="Enter address" class="" value="" id="address" name="address">
                        <textarea name="city" placeholder="Enter city" class="" id="city"></textarea> 
                        <input  type="text" class="" placeholder="Contact" value="" id="contact" name="contact">
                        <div class="control-buttons">
                            
                        <div class="cancel"><a href="/" class="btn btn-danger">Cancel</a></div>

                        <button type="submit"  class="btn btn-success"name="" id="">Save</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>