<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid Helpline</title>
  <link rel="stylesheet" type="text/css" href="./covid.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

  <div class="main">
    <div class="home">
      <h2 class="title">Stay Home Stay Safe</h2>
      <div class="tree">
        <div class="treeMain">
          <div class="branch"></div>
          <div class="branch"></div>
        </div>
        <div class="trunk"></div>
      </div>
      <div class="homeBody">
        <div class="wall"></div>
        <div class="chimney"></div>
        <div class="terrace"> </div>
        <div class="door"></div>
        <div class="window"></div>
      </div>
      <div class="ground"></div>
      <div class="covid"> </div>
      <div class="covid1"></div>
      <div class="covid2"> </div>
      <div class="covid3"></div>
    </div>
  </div>

  <div class="leads">
    <div class="heading">
      <h2>Search by type</h2>
    </div>
    <div class="flexbox">
      <div class="item1 items">

        <a href="/hospitals"><img src="./images/hosp.png" alt="hospitals" />Hospitals</a>
      </div>
      <div class="item2 items">

        <a href="/oxygen"><img src="./images/oxygen.png" alt="oxygen" />Oxygen Resources</a>
      </div>
      <div class="item3 items">

        <a href="/plasma"><img src="./images/plasma.png" alt="plasma" />Plasma</a>
      </div>
      <div class="item4 items">

        <a href="/bloodBank"><img src="./images/bloodBank.png" alt="Blood Bank" />Blood Banks</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Made with <i class="fa fa-heart"></i> <a href="https://instagram.com/_pankajrathore__" style="font-weight:bold">By Pankaj Rathore</a></p>
 </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>