<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Helpline</title>
    <link rel="stylesheet" type="text/css" href="./covid.css" />
</head>
<body>

<div class="main">
  <div class="home">
    <h2 class="title">Stay Home Stay Safe</h2>
    <div class="tree">
      <div class="treeMain">
        <div class="branch"></div>
        <div class="branch"></div>
      </div>
      <div class="trunk"></div>
    </div>
    <div class="homeBody"> 
      <div class="wall"></div>
      <div class="chimney"></div>
      <div class="terrace"> </div>
      <div class="door"></div>
      <div class="window"></div>
    </div>
    <div class="ground"></div>
    <div class="covid"> </div>
    <div class="covid1"></div>
    <div class="covid2"> </div>
    <div class="covid3"></div>
  </div>
</div>

<!-- <div class="card">
  <h1>Covid Helpline numbers<br> and leads</h1>
  
  <details class="warning">
    <summary>Virendra Blood Bank</summary>
    <p><tel></p> 
  </details>
  
  <details class="info" open>
    <summary>Karishma Delhi Blood Banks</summary>
    <p>Social distance, quarantine and isolation</p>
    <p>Hand hygiene, cough etiquette, cleaning and laundry</p>
    <p>When children have acute respiratory tract infections</p>
    <p>Risk groups and their relatives</p>
  </details>
  
  <details class="alert">
    <summary>Facts and knowledge about COVID-19</summary>
    <p>Some text to be hidden.</p> 
  </details>
</div> -->

<div class="leads">
  <div class="heading">
    <h2>Search by type</h2>
  </div>
  <div class="flexbox">
    <div class="item1 items">
      <img src="./images/hosp.png" alt="hospitals" />
      <a href="/hospitals">Hospitals</a>
    </div>
    <div class="item2 items">
      <img src="./images/oxygen.png" alt="oxygen" />
      <a href="/oxygen">Oxygen Resources</a>
    </div>
    <div class="item3 items">
      <img src="./images/plasma.png" alt="plasma" />
      <a href="/plasma">Plasma</a>
    </div>
    <div class="item4 items">
      <img src="./images/bloodBank.png" alt="Blood Bank" />
      <a href="/bloodBank">Blood Banks</a>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
